
.ui-header{
   background: transparent !important;
   border: none !important;
}


.ui-page
{
  background-image: url("../mobile/main-bg.png") !important;
  background-size:cover;

}

#m_topic_title{
  background: transparent !important;
  resize: none;
  height: 250px !important;
  color: rgb(253,136,10) !important;
  border: none !important;
  box-shadow: none;
}



.event_name{
  margin:0 auto;
  width: 100%;
  height: 278px;
  border: 1px solid rgb(253,136,10);
  border-radius: 20px;
  background: #fff;
  background: rgba(255,255,255,0.25);


}

.event_name::after {
  content: "";
  background: #fff;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.footer {
  background-color: none;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
  margin-left: -15px;
  z-index: 999;
}

.circle
{
  width:60px;
  height:60px;
  border-radius:30px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:rgb(253,136,10);
  margin: 0 auto;

}
.circle_inactive{
  width:60px;
  height:60px;
  border-radius:30px;
  color:#fff;
  line-height:60px;
  text-align:center;
  margin: 0 auto;
  background: rgb(234,180,85);
}
.choose5dates_wrapper{
  height: 200px;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-left: -16px;
}
.choose5dates{
  background: #fff;
  background: rgba(255,255,255,0.5);
  height: 175px;
  padding-top: 15px;
  border-top: 2px solid rgb(253,136,10);
}


.choseHeader{
  color: #fff;
  background: rgb(253,136,10);
  width: 300px;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 15px;
  margin: 0px;
}
#date1,#date2,#date3,#date4,#date5{
  font-size:30px !important;
}

#month1,#month2,#month3,#month4,#month5{
    padding: 0px;
    color: rgb(253,136,10);
    margin-top:0px;
    text-align: center;
}

.hidden { display:none; }