
.row
  .col-md-6.col-md-offset-3
    %input{type:'button', value:'edit', class: 'btn btn-warning', style: 'float:right;margin-right:30px;'}
    %br

    #topic_title
      Dinner with Classmates for No Reason Whats ...
    %br
    #calendar
.footer
  =link_to(image_tag("mobile/BackEvent.png", :alt => "back"), event_name_path)
  =link_to(image_tag("mobile/Add.png", :alt => "add_people"), choose_date_path,style:'float:right')


:javascript

  React.render(React.createElement(Calendar, {selected: moment().startOf("day")}), document.getElementById("calendar"));
