-#= javascript_include_tag  "bootstrap-timepicker.js"
#choseDate_page{"data-role" => "page"}
  %div{"data-role" => "header"}
    =render 'layouts/navigation'

  .ui-content{:role => "main"}
    #topic_title
      Dinner wtih Classmates for No reason
    #calendar_wrapper


      -#= react_component('Calendar', { shouldHide: false})

    .footer
      =link_to(image_tag("mobile/BackEvent.png", :alt => "back"), event_name_path)
      =link_to(image_tag("mobile/Add.png", :alt => "add_people"), choose_date_path,style:'float:right')

  #content


:javascript

  React.render(React.createElement(Calendar, {selected: moment().startOf("day")}), document.getElementById("calendar_wrapper"));
  //$('.timepicker').timepicker()

  //React.render(React.createElement(App, null),  document.getElementById("time_pick"));
