.row
  .col-md-6.col-md-offset-3
    =link_to "New event", event_name_path , id: "create_new_event"
    #use_invitation
      I'm Invited


:javascript
  $(function(){
    $("#event_footer").show();
  })

